# Time series analysis

In [1]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [6]:
ts = pd.read_csv("data/consumption.csv", parse_dates=True, index_col=0)

In [5]:
ts

     Unnamed: 0        V1
0    1970-01-01  0.612277
1    1970-04-01  0.454930
2    1970-07-01  0.874673
3    1970-10-01 -0.272514
4    1971-01-01  1.892187
..          ...       ...
159  2009-10-01  0.109329
160  2010-01-01  0.671018
161  2010-04-01  0.717718
162  2010-07-01  0.653143
163  2010-10-01  0.875352

[164 rows x 2 columns]